h1 {
    text-align: center;
}
.center-box {
    height: 300px;
    width: 80%;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    margin: auto;
}
.arrows {
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}
.container-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
h1
{
    margin-top: 20px;
    margin-bottom: 20px;
}