/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

img {
    border: solid 2px black;
    border-radius: 2%;
}

/* Fullscreen Header */
.fullscreen-header {
    height: 100vh;
    background: linear-gradient(0deg, lightblue, #6c757d);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}


.fullscreen-header h1 {
    font-size: 8rem; /* Increase font size */
    font-weight: bold;
    margin: 0;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide text overflow during animation */
    border-right: 4px solid white; /* Add a blinking cursor */
    font-family: 'Pacifico', cursive; /* Fancy font */
    width: 0; /* Start with no width for the typing effect */
    animation: typing 3s steps(500) 1s forwards, blink 0.5s step-end 2s infinite; /* Adjusted typing speed, and added delay */
    line-height: 2; /* Adjust line height */
    padding-bottom: 5px; /* Ensure the bottom of letters like 'g' and 'p' are visible */
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Full width of the text */
    }
}

/*cursor animation */
@keyframes blink {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: transparent; /* Cursor stops blinking once typing is complete */
    }
}

/* Content Section */
.content-section {
    background: linear-gradient(180deg, lightblue, #6c757d);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height:100vh;
    
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:50%; /* Ensure the box fills the container */
    height: 100%;
}

  @keyframes effect {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.center-box {
    border-radius: 3%;
    box-shadow: rgba(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

/* Animations for Sliding Content */
.center-box.hidden-left {
    transform: translateX(-100%);
    opacity: 0;
}

.center-box.hidden-right {
    transform: translateX(100%);
    opacity: 0;
}

.center-box.show-from-left {
    transform: translateX(0);
    opacity: 1;
}

.center-box.show-from-right {
    transform: translateX(0);
    opacity: 1;
}

.arrows {
    font-size: 60px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    color: #333;
    transition: transform 0.3s ease;
    background-color: white;
    border: solid white 1px;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10%;
    opacity: 80%;

}

.arrows:hover {
    transform: scale(1.2);
    opacity: 100%;
    background-color: lightgray;
}

/* Arrows positioning */
.arrows:first-of-type {
    left: -50px;
}

.arrows:last-of-type {
    right: -50px;
}
/* Navbar and Footer */
.navbar {
    transition: background-color 0.5s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#navbarNav {
    padding-left: 10px;
}

#navbarDropdownSmall {
    margin-right: 10px;
}

.bgnav
{
    background-color: white;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    color: #333;
}
.Bilder
{
    width: 100%;
}

#betriebsinformatik, #gamedesign,  #informatik, #fachschule, #interiordesign, #medizininformatik, #technischesManagement, #animation{
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 8px 16px black;
}

/* replace the Spengerguide text with img of logo when screenwidth is smaller than 990px */
#headerLogoText {
    display: block;
}

#headerLogoImg {
    display: none;
    max-height: 200px;
}

@media (max-width: 990px) {
    #headerLogoText {
        display: none;
    }

    #headerLogoImg {
        display: block;
    }
}


/* different styles for different sizes */
@media (max-width: 750px) {
    .container-box {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    .center-box {
        width: 100%;
        margin-bottom: 20px;
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }

    .center-box h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .Bilder {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .arrows {
        display: block;
        position: absolute;
        top: auto;
        z-index: 5;
        background-color: transparent;
        border: none !important;
        color: #ffffff;
        opacity: 100%;
        font-size: 30px;
    }

    .arrows:first-of-type {
        left: 10px;
    }

    .arrows:last-of-type {
        right: 10px;
    }
}

@media (max-width: 300px) {
    .center-box h1 {
        font-size: 20px;
    }
}

@media (max-width: 250px) {
    .center-box h1 {
        font-size: 15px;
    }
}